.index
    .wrapper
        .menue    
            %a{:href => '/index.html'}Home
            %a{:href => '/work.html'}Work
            %a{:href => '/skills.html'}Skills
            %a{:href => '/about.html'}About
            %a{:href => '/contact.html'}Contact
        .main
            = partial 'partials/works'